* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    position: relative;
    background-color: aqua;
}

.slider {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
}

.active {
    display: block;
}

.item {
    /* display: none; */
    overflow: hidden;
    height: 70vh;
    text-align: center;

    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    
}

img {
    height: 100%;
    
}

#down {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    color: #444;
    text-align: center;
    cursor: pointer;
    padding: 0 5px;
}

#up {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 40px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    color: #444;
    text-align: center;
    cursor: pointer;
    padding: 0 5px;
}


#up {
    top: 0;
}

#down {
    bottom: 0;
}

#up:hover, #down:hover {
    background-color: rgba(240, 240, 240, 0.8);
}

.fa-angle-up {
    margin-top: 5px;
}

.fa-angle-down {
    margin-top: 10px;
}
